.App {
  font-family: "Inter";
  max-width: 1200px;
  width: 80%;
  margin: 80px auto;
}

h1 {
  font-size: 3em;
  font-weight: 550;
  margin-bottom: 24px;
}

h2 {
  font-size: 1.375rem;
  max-width: 70%;
  font-weight: 390;
  margin: auto;
  margin-bottom: 26px;
  color: rgb(180, 188, 208);
}
